.padding0 {
    padding: 0;
}

.margin0 {
    margin: 0 !important;
}

.padding10 {
    padding: 10px;
}

.margin10 {
    margin: 10px;
}

.to-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
